<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" media="screen">
    <link rel="shortcut icon" href="../static/xicara-de-cafe.ico" type="image/x-icon">
    <title>Contação de Histórias</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <article>
                <p><a href="/">Avaliar como Aluno</a></p>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div>{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="/notavisitante" method="post">
                <div>
                    <label for="inota">Nota</label>
                    <input type="range" name="notavis" id="inotavis" max="10" required>
                </div>

                <div>
                    <input type="submit" value="Avaliar">
                </div>
                </form>
            </article>
        </section>
    </main>
    <footer>
        <p>Criado por <a href="/redgit" target="_blank">Wesley Xavier</a></p>
    </footer>
</body>
</html>